# list of files to ignore by git

# exclude these top level files
desktop.ini
.DS_Store
icemelt.sublime-project
icemelt.sublime-workspace
icemelt
icemelt-mjh
run_smooth_mjh.sh

# exclude these files in scripts directory
scripts/*paleo.m
scripts/plot_compare_runs.m
scripts/plot_compare_skill.m
scripts/plot_compare_stake_all.m
scripts/plot_compare_stake_subset.m
scripts/model_skill.m
scripts/model_skill_subset.m
scripts/modelSkill_Tmp.mat
scripts/plot_ablation_maps.m
scripts/plot_albedo_runs.m
scripts/plot_comparison_maps.m
scripts/plot_enbal.m
scripts/plot_met.m
scripts/plot_all_results.m
scripts/plot_sensitivity_runs.m
scripts/sensitivity_analysis.m

# exclude these directories
input/*
logs/*
namelist/*
output/*
processed/*

# except these files in input directory
!input/9513*
!input/combo*
!input/icetempinit2008good.txt
!input/*.dat
!input/T_avg_all.txt
!input/T_avg_cliff.txt
!input/T_avg_surf.txt
!input/tv_dem250.txt
!input/tv_landcovermetstake.txt
!input/tv_basins_surface_jmc_ekh.txt
!input/tv_bridge_number_of_2mgridcells_per_250mgridcell.txt
!input/tv_bwalls_number_of_2mgridcells_per_250mgridcell.txt
!input/tv_bfloor_number_of_2mgridcells_per_250mgridcell.txt
!input/tv_basins_cliff_jmc.txt
!input/tv_cliff_length.txt
!input/TV_stream_data.mat
!input/TV_stream_data_qual.mat

# except these files
!logs/.gitkeep 
!namelist/namelist.input
!output/.gitkeep
!processed/.gitkeep